node-red/flows.json
[
    {
        "id": "f6f2187d.f17ca8",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "4a51143d91f643f2",
        "type": "modbus-read",
        "z": "f6f2187d.f17ca8",
        "name": "Dado CLP: Meta",
        "topic": "Meta",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "",
        "dataType": "HoldingRegister",
        "adr": "3",
        "quantity": "1",
        "rate": "3000",
        "rateUnit": "ms",
        "delayOnStart": false,
        "startDelayTime": "",
        "server": "8d7d77cc2a66df9d",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 140,
        "y": 60,
        "wires": [
            [
                "22c182e979e18fc7",
                "d2dd6e0a6c9d0d1f"
            ],
            []
        ]
    },
    {
        "id": "46dbee726b7397eb",
        "type": "modbus-read",
        "z": "f6f2187d.f17ca8",
        "name": "Dado CLP: Rendimento Operacional",
        "topic": "Rendimento_operacional",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "",
        "dataType": "HoldingRegister",
        "adr": "7",
        "quantity": "1",
        "rate": "3000",
        "rateUnit": "ms",
        "delayOnStart": false,
        "startDelayTime": "",
        "server": "8d7d77cc2a66df9d",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 200,
        "y": 180,
        "wires": [
            [
                "d2dd6e0a6c9d0d1f"
            ],
            []
        ]
    },
    {
        "id": "e7663f9ddef289d5",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "Calculo Eficiencia",
        "func": "var meta = msg.payload.meta;\nvar produzido = msg.payload.produzido;\n\nvar eficiencia = (parseInt(produzido)*100)/meta;\nmsg.topic = \"eficiencia\";\nmsg.payload = eficiencia;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 80,
        "wires": [
            [
                "d2dd6e0a6c9d0d1f"
            ]
        ]
    },
    {
        "id": "22c182e979e18fc7",
        "type": "join",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 450,
        "y": 80,
        "wires": [
            [
                "e7663f9ddef289d5"
            ]
        ]
    },
    {
        "id": "a38e95ec5ded341e",
        "type": "modbus-read",
        "z": "f6f2187d.f17ca8",
        "name": "Dado CLP: Alimentador",
        "topic": "Alimentador",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "",
        "dataType": "HoldingRegister",
        "adr": "10",
        "quantity": "1",
        "rate": "3000",
        "rateUnit": "ms",
        "delayOnStart": false,
        "startDelayTime": "",
        "server": "8d7d77cc2a66df9d",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 160,
        "y": 240,
        "wires": [
            [
                "d2dd6e0a6c9d0d1f"
            ],
            []
        ]
    },
    {
        "id": "d8ad9ca7ca5484ad",
        "type": "modbus-read",
        "z": "f6f2187d.f17ca8",
        "name": "Dado CLP: Taxa Separador Magnetico",
        "topic": "tx_separador_magnetico",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "",
        "dataType": "HoldingRegister",
        "adr": "12",
        "quantity": "1",
        "rate": "3000",
        "rateUnit": "ms",
        "delayOnStart": false,
        "startDelayTime": "",
        "server": "8d7d77cc2a66df9d",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 210,
        "y": 300,
        "wires": [
            [
                "d2dd6e0a6c9d0d1f"
            ],
            []
        ]
    },
    {
        "id": "e0242920ee5c37ca",
        "type": "modbus-read",
        "z": "f6f2187d.f17ca8",
        "name": "Dado CLP: Balanca Entrada",
        "topic": "Balanca_Entrada",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "",
        "dataType": "HoldingRegister",
        "adr": "14",
        "quantity": "1",
        "rate": "3000",
        "rateUnit": "ms",
        "delayOnStart": false,
        "startDelayTime": "",
        "server": "8d7d77cc2a66df9d",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 180,
        "y": 360,
        "wires": [
            [
                "d2dd6e0a6c9d0d1f"
            ],
            []
        ]
    },
    {
        "id": "3c2e439f21390532",
        "type": "modbus-read",
        "z": "f6f2187d.f17ca8",
        "name": "Dado CLP: Balanca Saida",
        "topic": "Balanca_Saida",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "",
        "dataType": "HoldingRegister",
        "adr": "16",
        "quantity": "1",
        "rate": "3000",
        "rateUnit": "ms",
        "delayOnStart": false,
        "startDelayTime": "",
        "server": "8d7d77cc2a66df9d",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 170,
        "y": 420,
        "wires": [
            [
                "d2dd6e0a6c9d0d1f"
            ],
            []
        ]
    },
    {
        "id": "e609774fd3c220cc",
        "type": "modbus-read",
        "z": "f6f2187d.f17ca8",
        "name": "Dado CLP: Balanca Perca",
        "topic": "Balanca_Perca",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "",
        "dataType": "HoldingRegister",
        "adr": "18",
        "quantity": "1",
        "rate": "3000",
        "rateUnit": "ms",
        "delayOnStart": false,
        "startDelayTime": "",
        "server": "8d7d77cc2a66df9d",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 170,
        "y": 480,
        "wires": [
            [
                "d2dd6e0a6c9d0d1f"
            ],
            []
        ]
    },
    {
        "id": "1e061da0075c9d3f",
        "type": "modbus-read",
        "z": "f6f2187d.f17ca8",
        "name": "Dado CLP: Temperatura SM1",
        "topic": "Temp_sm1",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "",
        "dataType": "HoldingRegister",
        "adr": "20",
        "quantity": "1",
        "rate": "3000",
        "rateUnit": "ms",
        "delayOnStart": false,
        "startDelayTime": "",
        "server": "8d7d77cc2a66df9d",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 180,
        "y": 540,
        "wires": [
            [
                "d2dd6e0a6c9d0d1f"
            ],
            []
        ]
    },
    {
        "id": "5cecbb36d30a1358",
        "type": "modbus-read",
        "z": "f6f2187d.f17ca8",
        "name": "Dado CLP: Temperatura SM2",
        "topic": "Temp_sm2",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "",
        "dataType": "HoldingRegister",
        "adr": "22",
        "quantity": "1",
        "rate": "3000",
        "rateUnit": "ms",
        "delayOnStart": false,
        "startDelayTime": "",
        "server": "8d7d77cc2a66df9d",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 180,
        "y": 600,
        "wires": [
            [
                "d2dd6e0a6c9d0d1f"
            ],
            []
        ]
    },
    {
        "id": "0db5f1d8185d092a",
        "type": "modbus-read",
        "z": "f6f2187d.f17ca8",
        "name": "Dado CLP: Temperatura SM3",
        "topic": "Temp_sm3",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "",
        "dataType": "HoldingRegister",
        "adr": "24",
        "quantity": "1",
        "rate": "3000",
        "rateUnit": "ms",
        "delayOnStart": false,
        "startDelayTime": "",
        "server": "8d7d77cc2a66df9d",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 180,
        "y": 660,
        "wires": [
            [
                "d2dd6e0a6c9d0d1f"
            ],
            []
        ]
    },
    {
        "id": "d2dd6e0a6c9d0d1f",
        "type": "join",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "13",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 730,
        "y": 320,
        "wires": [
            [
                "d64911e08e376a4b",
                "c15b7c4c4c0ca417"
            ]
        ]
    },
    {
        "id": "d64911e08e376a4b",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 860,
        "y": 240,
        "wires": []
    },
    {
        "id": "c15b7c4c4c0ca417",
        "type": "websocket out",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "x": 930,
        "y": 320,
        "wires": []
    },
    {
        "id": "836abdac0baecedc",
        "type": "modbus-read",
        "z": "f6f2187d.f17ca8",
        "name": "Dado CLP: Produzido",
        "topic": "Produzido",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "",
        "dataType": "HoldingRegister",
        "adr": "5",
        "quantity": "1",
        "rate": "3000",
        "rateUnit": "ms",
        "delayOnStart": false,
        "startDelayTime": "",
        "server": "8d7d77cc2a66df9d",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 160,
        "y": 120,
        "wires": [
            [
                "22c182e979e18fc7",
                "d2dd6e0a6c9d0d1f"
            ],
            []
        ]
    },
    {
        "id": "8d7d77cc2a66df9d",
        "type": "modbus-client",
        "name": "CLP",
        "clienttype": "tcp",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": false,
        "failureLogEnabled": true,
        "tcpHost": "127.0.0.1",
        "tcpPort": "502",
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyUSB",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": "9600",
        "serialDatabits": "8",
        "serialStopbits": "1",
        "serialParity": "none",
        "serialConnectionDelay": "100",
        "serialAsciiResponseStartDelimiter": "0x3A",
        "unit_id": "1",
        "commandDelay": "1",
        "clientTimeout": "1000",
        "reconnectOnTimeout": true,
        "reconnectTimeout": "2000",
        "parallelUnitIdsAllowed": true,
        "showWarnings": true,
        "showLogs": true
    }
]
